.img {
    width: 300px;
    border-radius: 5px;
    cursor: zoom-in;
    display: block;
    height: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-panel {
    padding: 5px;
    background-color: transparent;
    height: auto;
    width: auto;
    display: inline-block;
    transition: all 200ms ease;
    border-radius: 5px;

    &:hover {
        background-color: #20A4F3;
    }
}

.img-panel p {
    margin-bottom: 0px;
    color: grey;
    font-size: 1rem;
}


.img-panel__selct {
    background-color: #20A4F3;

}

.display-box {
    padding: 1em;
    max-width: 1000px;
    min-width: 300px;
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: all 200ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper__initial {
    background-color: rgba(0, 0, 0, .7);
}

.image__selected {
    max-width: 70vw;
    max-height: 80vh;
    display: block;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    position: relative;
    border: transparent solid 4px;
    border-radius: 5px;
}

.img-selected-initial {
    border: white solid 4px;
}

.img-close {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: #CA3B4E;
    }

    &:before {
        content: " ";
        height: 40px;
        width: 5px;
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        cursor: pointer;
    }

    &:after {
        content: " ";
        height: 40px;
        width: 5px;
        transform: rotate(135deg);
        position: absolute;
        z-index: 100;
        background-color: white;
        cursor: pointer;
    }
}

.add-img-fieldset {
    padding: 1em;
}

.file-input {
    visibility: hidden;
}

.file-input-label {
    padding: 10px 15px;
    background-color: #255F85;
    border-radius: 3px;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color: #4C7C9B;
    }
}

@media screen and (max-width: 820px) {
    .img {
        width: 400px;
        border-radius: 5px;
        cursor: zoom-in;
        display: block;
        height: 250px;
    }

    .img-panel p {
        font-size: 1rem;
        margin-bottom: 0px;
    }

    .display-box {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:480px) {
    .img {
        width: 300px;
        border-radius: 5px;
        cursor: zoom-in;
        display: block;
        height: 200px;
    }

    .img-close {
        height: 20px;
        width: 20px;
    }

    .img-panel p {
        font-size: 0.9rem;
        margin-bottom: 0px;
    }

    .display-box {
        flex-direction: column;
    }
}
