<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- CSS file linking-->
    <link rel="stylesheet" href="{% static './static/CSS/events.css' %}">
     <!-- JS file linking -->
     <script src="{% static './static/JS/reveal.js' %}"></script>
    {% endblock %}
</head>
{% block content %}
<body>
    <div class="main-body">
        <div class="heading">
            <h1>Gallery</h1>
        </div>
        <h1 class="h1-head">Take a look around Wisdom International School</h1>
        <div class="events-block">
            <div class="single-block reveal">
                <a href="{% url 'classrooms' %}"><img src="{% static './static/Media/Classrooms.jpeg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> Classrooms</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'sports' %}"> <img src="{% static './static/Media/Sports.jpeg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> Sports</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'events' %}"><img src="{% static './static/Media/Annual-Exhibition.jpg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> Events</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'competitions' %}"> <img src="{% static './static/Media/Competitions.jpg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> Competitions</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'graduation' %}"><img src="{% static './static/Media/Graduation.jpg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> Graduation</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'schooltrips' %}"> <img src="{% static './static/Media/School-Trip.jpg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> School Trips</h4>
            </div>
            <div class="single-block reveal">
                <a href="{% url 'pe' %}"> <img src="{% static './static/Media/PE.jpg' %}" alt=""></a>
                 <h4><i class="fa-solid fa-folder" style="color: #020381;"></i> P.E<br>Self Defense & Exercise</h4>
            </div>
        </div>
       
    </div>

</body>
{% endblock content %}
</html>
