<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- CSS file linking -->
    <link rel="stylesheet" href="{% static './static/CSS/homePage.css' %}">

    {% endblock %}
</head>
{% block content %}

<body>
    <div class="main-body">
        <video autoplay muted loop id="myVideo">
            <source src="{% static './static/Media/bgVideo.mp4' %}" type="video/mp4">
        </video>
        <h1 class="one-liner"><i>Making Education<br> Meaningful</i></h1>
        <div class="announcements">
            <div class="header__center">
                <h1>Announcements</h1>
            </div>
            <div class="marquee">
                <p><span>
                        {% for i in announcements %}
                        {{i}}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    </span></p>
            </div>
        </div>
        <div class="about-us">
            <div class="header__center">
                <h1>About Us</h1>
            </div>
            <p>Since its establishment in 2000, Wisdom International School has been a prominent educational
                institution, notable for its excellence and dedication. Among one of its branches in Chamrajpet, one
                has
                garnered recognition from the Government of Karnataka and holds registration under the esteemed
                Karnataka Education Act. Throughout its history, the school has consistently produced exceptional
                students who have achieved remarkable distinctions. This success can be attributed to the
                institution's
                unwavering focus on nurturing knowledge, upholding moral values, and fostering discipline among its
                students.<br><br>
                A remarkable feature of the school is its integration of smart technology and Artificial
                Intelligence
                into the learning process. By leveraging modern tools, the institution enhances the educational
                experience and equips students with the digital skills essential for success in today's world. This
                technological approach reflects the school's commitment to staying abreast of educational
                advancements
                and providing its students with a well-rounded and relevant education.
                Behind the achievements of the school lies its experienced and specialized teaching staff. The
                faculty,
                experts in various fields, play a pivotal role in moulding young minds. Their guidance and
                mentorship
                contribute significantly to the holistic development of students, preparing them to become capable
                and
                responsible citizens of the future.<br><br>
                In essence, Wisdom International School Chamrajpet is more than just a school; it's a hub of growth,
                learning, and character-building. With its roots dating back to 2000, this institution has
                consistently
                delivered excellence in education. From its government recognition and smart technology integration
                to
                its exceptional faculty and focus on knowledge and values, the school stands as a beacon of quality
                education, dedicated to nurturing the potential of young minds for the betterment of the nation's
                future.<br>
            </p>
        </div><br>
        <div class="header__center">
            <h1>Recognized by</h1>
        </div>
        <div class="govt">
            <img src="{% static './static/Media/Seal_of_Karnataka.svg.png' %}" alt=""><br>
            <p>The Government of Karnataka, Established under the Karnataka Education Act, 1983</p><br><br><br>
        </div>
        <div class="header__center">
            <h1>Affiliated with</h1>
        </div>
        <div class="govt">
            <img src="{% static './static/Media/kseeb.png' %}" alt="">
            <p>Karnataka Secondary Education Examination Board</p>

            <img src="{% static './static/Media/KAMS.png' %}" alt="">
            <p>KAMS Karnataka Associated Managements Of English Medium Schools In Karnataka</p>
        </div>
</body>
{% endblock content %}

</html>
