<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    {% block extrahead %}
    <!-- CSS file linking-->
    <link rel="stylesheet" href="{% static './static/CSS/toppers.css' %}">
    <!-- JS file linking -->
    <script src="{% static './static/JS/reveal.js' %}"></script>
    {% endblock %}
</head>
{% block content %}

<body>
    <div class="main-body">
        <div class="heading">
            <h1>Academic Achievements</h1>
        </div>
        <div class="topper-block">
            {% for topper in toppers %}
            <div class="header__center reveal">
                <h1>Year - {{ topper.year_of_exam }}</h1>
            </div>
            <div class="topper-sub-block reveal">
                {% for distinction in topper.distinction_holders.all %}
                <div class="img-name">
                    <img src="{{ distinction.image.url }}" alt=""><br>
                    <p style="margin-top:20px;">{{ distinction.name }}</p>
                    <p>Marks: {{ distinction.marks }}%</p>
                </div>
                {% endfor %}
            </div><br><br>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock content %}

</html>
